@media screen and (max-width: 576px) {
    
    .navbar,
     .nav-links ,
     .teams,
     .features-container{
        flex-direction: column;
    }
    .team-image-container{
        
        grid-template-columns: repeat(1,1fr);
        
    }
    .our-features{
        text-align: center;
         margin-left: 0px;
     }
     .facts-container{
        
        grid-template-columns: repeat(1,1fr);
        gap: 24px;
        margin-top: 100px;
        justify-items: center;
        
       }
       
       .sponsor-info{
        width: 100%;
        
        margin: 50px auto;
        text-align: center;
     }
       .sponsor-companies{
        
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 50px;
    }
    .features-container{
      
        gap: 40px;
        /* align-items: center; */
        /* justify-content: space-between; */
    }
    .experience{
        position: relative;
        bottom: 0px;
        right: 0px;
    }
    .footer{
        width: 100%;
        padding: 25px 0px;
    }
    
    
    
}

/* medium device er jnno */

@media screen and (min-width: 576px) and (max-width: 992px){
    
    
     .teams,.features-container{
        flex-direction: column;
    }
    .team-image-container{
        
        grid-template-columns: repeat(2,1fr);
        
    }
    .our-features{
        width: 100%;
        text-align: center;
         margin-left: 0px;
     }
     .facts-container{
        
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        margin-top: 100px;
        justify-items: center;
        
       }
       .sponsor-info{
        
        margin: 50px auto;
        text-align: center;
     }
       .sponsor-companies{
        
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        gap: 50px;
    }
    .features-container{
      
        gap: 40px;
    }
   
    .experience{
        position: relative;
        bottom: 0px;
        right: 0px;
    }
    .footer{
        width: 100%;
        padding: 45px 0px;
    }
}